<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 商品列表 </title>
<meta name="robots" c>
<meta http-equiv="Content-Type" c />
<link href="../view/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="../view/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span1"><a href="#">MYSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 会员列表 </span>
<div style="clear:both"></div>
</h1>

<form method="post" action="" name="listForm" >

  <div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
      <a href="#">编号</a><img src="../view/admin/images/sort_desc.gif"/>    </th>

    <th><a href="#">用户名称</a></th>
    <th><a href="#">邮箱</a></th>
	<th><a href="#">注册时间</a></th>
    <th><a href="#">上次登陆时间</a></th>
    <th>操作</th>
  <tr>
    <?php foreach($userlist as $v){?>    
	<tr>
    <td><input type="checkbox" name="checkboxes[]" value="32" /><?php echo $v['user_id'];?></td>

    <td class="first-cell" style=""><span ><?php echo $v['username'];?></span></td>
    <td align="right"><span ><?php echo $v['email'];?>
    </span></td>
	<td align="right"><span ><?php echo $v['year'].'-'.$v['month'].'-'.$v['mday'];?>
    </span></td>

    <td align="center"><span ><?php echo $v['lastlogin'];?></span></td>
        <!--<td align="center">
      <a href="goodsview.php?goods_id=<?php echo $v['user_id'];?>" target="_blank" title="查看"><img src="../view/admin/images/icon_view.gif" width="16" height="16" border="0" /></a>
      <a href="#" title="编辑"><img src="../view/admin/images/icon_edit.gif" width="16" height="16" border="0" /></a>
      <a href="#" title="复制"><img src="../view/admin/images/icon_copy.gif" width="16" height="16" border="0" /></a>
      <a href="goodstrash.php?goods_id=<?php echo $v['user_id'];?>"  title="回收站"><img src="../view/admin/images/icon_trash.gif" width="16" height="16" border="0" /></a>
      <a href="#" title="货品列表"><img src="../view/admin/images/icon_docs.gif" width="16" height="16" border="0" /></a>          </td> -->
  </tr>
	<?php } ?>
      </table>

<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
		 <?php echo $pageMenu;?> 
    </td>
  </tr>

</table>

</div>
</form>

<div id="footer">
共执行 7 个查询，用时 0.112141 秒，Gzip 已禁用，内存占用 3.085 MB<br />
版权所有 &copy; 2014 MarkX</div>
</body>
</html>